* {
    text-align: center;
    margin-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: rgb(240, 162, 59);
    color: white;
    display: inline;
    padding: 1rem;
    border: 1px solid none;
    border-radius: 1rem;
}

.container {
    margin-top: 3rem;
}

ul li {
    margin: 0.5rem;
    padding: 1rem;
    background-color: rgb(240, 162, 59);
    color: white;
    display: inline-flex;
    flex-direction: column;
    list-style: none;
}
.itemList {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;

}

.link {
    text-decoration: none;
    color: white;
}

ul li:hover {
    background-color: crimson;
}

